.oh{
    overflow: hidden;
}

.ac{
    text-align: center;
}

.df{
    display: flex;
}
.dfc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m0a{
    margin: 0 auto;;
}








