@media only screen and (max-width: 1500px) {
    .wide {
        width: 100%;
    }
    .client__pic {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 1280px) {
    body {
        font-size: 14px;
        line-height: 17px;
    }
    .container {
        width: 360px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .header {
        position: relative;
        padding: 16px 0;
        margin-bottom: 8px;
        .container {
            width: 100%;
        }
    }
    .header-menu__btn {
        display: flex;
        display: flex !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        width: 70px !important;
        height: 70px !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        transform: translateX(20px);
    }
    .header-navgroup {
        visibility: hidden;
        opacity: 1;
        position: fixed;
        top: 102px;
        bottom: 100%;
        flex-direction: column;
        position: fixed;
        display: flex;
        left: 0;
        right: 0;
        overflow: hidden;
        overflow-y: auto;
        justify-content: flex-start;
        background: #F8F8F8;
        padding: 0 24px;
        gap: 70px;
        z-index: 100; 
        box-shadow: 0 1px 0px #E3CEE6 inset, 0 -6px 0px #B48BB9 inset;
        transition: $transition1;
    }
    
    .header-navgroup.vis {
        top: 102px;
        bottom: 0;
        visibility: visible;
        opacity: 1;
        
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .header-logo {
        display: flex;
        width: 116px;
        max-width: 116px;
        min-width: unset;
        height: 70px;
        background-size: contain;
        background-position: left center;
        position: relative;
        z-index: 20;
    }
    .header-nav {
        flex-direction: column;
        gap: 24px;
        margin-top: 46px;
    }
    .header-contact {
        align-items: flex-end;
        gap: 24px;
        text-align: right;
    }
    .wide {
        width: 360px;
    }


    #hamburger {
        width: 24px;
        height: 18px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    #hamburger span:nth-child(2) {
        top: 8px;
        transform-origin: left center;
    }
    #hamburger span:nth-child(3) {
        top: 16px;
        transform-origin: left center;
    }
    #hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $violet;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #hamburger.open span:first-child {
        transform: rotate(45deg);
        top: 0;
        left: 4px;
    }
    #hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        left: 4px;
    }

    .article {
        padding-top: 54px;
    }
    .title {
        font-size: 37px;
        line-height: 43px;
        margin-bottom: 8px;
    }
    .intro{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
        padding: 0;
    }
    .intro__sub {
        width: 100%;
        margin-bottom: 24px;
    }
    .intro__desc{
        align-items: center;
        order: 2;
    }
    .intro__pic {
        flex: 0 0 170px;
        order: 1;
    }
    .intro__pic-img {
        width: 170px;
        height: 240px;
    }
    .intro__pic-bg {
        bottom: -7px;
        left: -13px;
        max-width: 200px;
    }
    .welcome{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .welcome__pic {
        flex: 0 0 193px;
    }
    .welcome__pic-img {
        width: 193px;
        height: 193px;
    }
    .welcome__pic-bg {
        top: -14px;
        right: -11px;
        max-width: 193px;
    }
    .welcome .title_h2 {
        margin-bottom: 8px;
    }
    .title_h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 8px;
        width: 100%;
    }
    .wide__container {
        padding: 38px 20px;
        border-radius: 30px;
    }
    .advantage__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .advantage__pic{
        width: 67px;
        height: 67px;
    }
    .advantage__item {
        flex: 0 0 auto;
        gap: 14px;
        width: 194px;
    }
    .why__min{
        display: flex;
        gap: 30px;
    }
    .why__pic-min{
        display: block;
    }
    .why__desc {
        flex-direction: column;
        gap: 32px;
        margin-top: -32px;
    }
    .why__pic{
        display: none;
    }
    .why__item {
        width: 100%;
    }      
    .why__item-text {
        font-size: 14px;
        line-height: 17px;
    }
    .why__item-num {
        font-size: 64px;
        line-height: 64px;
    }
    .claim {
        flex-direction: column;
        gap: 105px;
    }
    .claim__pic {
        flex: 0 0 170px;
        width: 170px;
        height: 240px;
    }
    .claim__desc {
        width: 190px;
        margin: 0;
        padding-top: 10px;
        .title_h2{
            font-size: 24px;
            line-height: 30px;
        }
        .claim__sub {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 10px;
            b{
                font-weight: 600;
            }
        }
        &:before, &:after{
            width: 276px;
            height: 304px;
        }
        &:before{
            background: url(../img/ellipse_1_min.png) no-repeat center center/contain;
        }
        &:after{
            background: url(../img/ellipse_2_min.png) no-repeat center center/contain;
        }
        &:hover{
            &:before, &:after{
                transform: translate(-50%, -50%);
                ;
            }
        }
        .btn{
            height: 32px;
            font-size: 12px;
            line-height: 12px;
            padding: 0 20px;
        }
    }
    .service{
        padding-top: 116px;
        .title_h2{
            margin-bottom: 38px;
        }
    }
    .service__list {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .service__item {
        width: calc(50% - 5px);
        padding: 24px 24px 30px;
        gap: 20px;
        border-radius: 194px;
        &:nth-child(1) {
            order: 1;
            .service__pic-bg{
                width: 52px;
                top: 34px;
                right: 0px;
            }
        }
        &:nth-child(2) {
            order: 2;
            .service__pic-bg{
                width: 68px;
                left: 4px;
                top: 21px;
                transform: none;
            }
        }
        &:nth-child(3) {
            order: 4;
            .service__pic-bg{
                width: 57px;
                top: 27px;
                left: 30px;
                transform: none;
            }
        }
        &:nth-child(4) {
            order: 3;
            .service__pic-bg{
                width: 50px;
                left: 27px;
                top: 35px;
            }
        }
        &:nth-child(5) {
            order: 5;
            .service__pic-bg{
                width: 57px;
                top: 50px;
                left: 0;
                transform: none;
            }
        }
    }
    .service__name {
        font-size: 14px;
        line-height: 17px;
    }
    .service__pic {
        width: 100%;
        height: 126px;
    }
    .service__pic-img{
        max-height: 100%;
        max-width: 90px;
    }
    .practice{
        .title_h2{
            margin-bottom: 22px;
        }
    }
    .practice__item {
        width: 100%;
        padding-left: 28px;
        &:after {
            width: 17px;
            height: 17px;
            top: 2px;
            left: 0;
        }
    }
    .practice__list {
        gap: 18px;
    }
    .review{
        .title_h2{
            margin-bottom: 30px;
        }
    }
    .slider_review .slick-track {
        display: block;
    }
    .review__item {
        border-radius: 150px;
        padding: 80px 20px;
    }
    .review__name {
        font-size: 24px;
        line-height: 36px;
        height: 36px;
        margin-bottom: 0;
    }
    .review__text {
        font-size: 14px;
        line-height: 17px;
        min-height: 60px;
    }
    .slider_review {
        margin-bottom: 28px;
        padding: 0 40px;
    }
    .client {
        text-align: center;
        .title_h2{
            margin-bottom: 30px;
        }
    }
    .client__pic {
        width: 204px;
        height: 204px;
    }
    .studio .title_h3 {
        margin-bottom: 38px;
        font-size: 14px;
        line-height: 17px;
    }
    .studio .title_h2 {
        margin-bottom: 12px;
    }
    .studio__pic {
        height: 248px;
    }
    .studio__item {
        margin: 0 40px;
    }
    .slick-prev:hover svg, .slick-next:hover svg {
        fill: $violet;
    }
    .slick-next:hover svg {
        transform: rotate(180deg);
    }
    .slick-prev:hover svg {
        transform: none;
    }
    .client .slick-prev:hover svg, .client .slick-next:hover svg {
        fill: #fff;
    }
    .book{
        flex-direction: column;
        padding-top: 124px; 
        
    }
    .book__desc {
        width: 194px;
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 36px;
        .title_book{
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 14px;
        }
        .btn {
            height: 32px;
            font-size: 12px;
            line-height: 12px;
            padding: 0 20px;
        }
        &:before {
            width: 343px;
            height: 366px;
            top: 73px;
            left: 97px;
            transform: translate(-50%, -50%);
            background: url(../img/ellipse_book_min.png) no-repeat center center/contain;
        }
    }
    .book__pic {
        flex: 0 0 140px;
        width: 140px;
        transform: scaleX(-1);
        align-self: flex-start;
    }
    .book__pic-bg {
        bottom: 0;
        
    }
    .contact.wide {
        padding: 0;
        margin: 54px auto;
        flex-direction: column;
        border-radius: 30px;
    }
    .contact__map {
        width: 100%;
        min-width: 100%;
        order: 2;
        height: 276px;
    }
    .contact__desc{
        order: 1;
        padding: 38px 20px;
        align-items: center;
        text-align: center;
        .title_h2{
            
        }
    }
    .contact__tel{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
    }
    .contact__mail {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 38px;
    }
    .contact__address {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 38px;
    }
    .contact__soc {
        width: 30px;
        height: 30px;
    }
    .contact__soclist {
        gap: 16px;
    }
    .contact__soc:hover .contact__socpic{
        transform: none;
        fill: #fff;
    }
    .footer__menu{
        flex-direction: column;
        gap: 0;
    }
    .footer__logo{
        order: 1;
    }
    .footer__nav:first-child{
        order: 2;
        margin-bottom: 14px;
    }
    .footer__nav:last-child{
        order: 3;
    }
    .footer__nav{
        flex-direction: column;
        transform: none;
        width: 100%;
        gap: 14px;
    }
    .footer__nav-link {
        font-size: 12px;
        line-height: 14px;
    }
    .footer__logo {
        width: 120px;
        height: 80px;
        margin-bottom: 14px;
    }
    .footer .container{
        gap: 38px;
    }
    .footer__copy {
        font-size: 10px;
        line-height: 12px;
        padding-bottom: 24px;
    }








}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 360px) {
    .wide {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}