@media only screen and (max-width: 1500px) {
    .wide {
        width: 100%;
    }
}
@media only screen and (max-width: 1280px) {
    body {
        font-size: 14px;
        line-height: 17px;
    }
    .container {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .header {
        position: relative;
        padding: 16px 0 0;
        margin-bottom: 24px;
    }
    .header-navgroup {
        display: none;
    }
    .header-menu__btn {
        display: flex;
        display: flex !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        width: 70px !important;
        height: 70px !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        transform: translateX(20px);
    }
    .header-navgroup.vis {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 86px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        justify-content: flex-start;
        background: #F8F8F8;
        padding: 46px 24px 60px 20px;
        gap: 70px;
        z-index: 10000;
        border-bottom: 4px solid #B48BB9;
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .header-logo {
        display: flex;
        width: 116px;
        max-width: 116px;
        min-width: unset;
        height: 70px;
        background-size: contain;
        background-position: left center;
    }
    .header-nav {
        flex-direction: column;
        gap: 24px;
    }
    .header-contact {
        align-items: flex-end;
        gap: 24px;
        text-align: right;
    }



    #hamburger {
        width: 24px;
        height: 18px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    #hamburger span:nth-child(2) {
        top: 8px;
        transform-origin: left center;
    }
    #hamburger span:nth-child(3) {
        top: 16px;
        transform-origin: left center;
    }
    #hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $violet;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #hamburger.open span:first-child {
        transform: rotate(45deg);
        top: 0;
        left: 4px;
    }
    #hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        left: 4px;
    }

    .article {
        padding-top: 54px;
    }
    .title {
        font-size: 37px;
        line-height: 43px;
        margin-bottom: 8px;
    }
    .intro{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
        padding: 0;
    }
    .intro__sub {
        width: 100%;
        margin-bottom: 24px;
    }
    .intro__desc{
        align-items: center;
        order: 2;
    }
    .intro__pic {
        flex: 0 0 170px;
        order: 1;
    }
    .intro__pic-img {
        width: 170px;
        height: 240px;
    }
    .intro__pic-bg {
        bottom: -7px;
        left: -13px;
        max-width: 200px;
    }





































}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 480px) {}