$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;
$f: 'f';
$f300: 'f300';
$f400: 'f400';

$black: #272727;
$green: #709D5C;
$white: #fff;




%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

%nolink{
    &:before{
        display: none;
    }
}

%after{
    content: '';
    display: block;
    position: absolute;
}



*{
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

input,
select,
textarea {
    font-family: $f300;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
    position: relative;
    transition: $transition;
    color: $black;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}















