@font-face {
    font-family: 'fontt';
    src: url('../fonts/saudagar.ttf') format('opentype');
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';
@import '_animate';


/*fixed footer*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $black;
    font-family: $font;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #F8F8F8;
}

.footer {
    margin: auto auto 0 auto;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        gap: 74px;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 42px;
    }
    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        transform: translateY(16px);
        width: calc(50% - 148px - 42px);
        &:last-child{
            justify-content: flex-start;
        }
    }

    &__nav-link {
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        position: relative;
        color: $violet;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background: #000;
            transition: $transition;
        }
        &:hover{
            color: $black;
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__logo {
        width: 296px;
        height: 145px;
        background: url(../img/logo.png) no-repeat center center/contain;
        display: flex;
    }

    &__copy {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding-bottom: 32px;
        a {
            text-transform: uppercase;
            position: relative;
            color: $violet;
            &:before {
                content: "";
                height: 1px;
                position: absolute;
                bottom: -2px;
                background: #C4A7C8;
                transition: $transition;
                width: 100%;
                right: 0;
            }

            &:hover {
                color: $black;
                &:before {
                    width: 0;
                    left: 0;
                }
            }
        }
    }

}

/*end fixed footer*/
.container {
    margin: 0 auto;
    width: 1180px;
}

.header {
    position: relative;
    padding: 28px 0 12px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 64px;

    &__btn {
        display: none;
    }
}

.header-logo {
    display: flex;
    width: 216px;
    min-width: 216px;
    height: 138px;
    background: url(../img/logo.png) no-repeat center center / cover;
}

.header-navgroup {
    display: flex;
    justify-content: flex-end;
    gap: 120px;
    padding-bottom: 34px;
    flex: 1 0 auto;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 36px;
    align-items: flex-end;

    &__link {
        font-size: 16px;
        line-height: 19px;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        color: $violet;

        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background: #000;
            transition: $transition;
        }

        &:hover {
            color: $black;

            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
}

.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__tel {
        font-size: 18px;
        line-height: 22px;
        color: $black;
        font-weight: 400;
        margin-bottom: 3px;

        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -2px;
            right: 0;
            background: #000;
            transition: $transition;
        }

        &:hover {
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__address {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
}

.btn {
    display: inline-flex;
    height: 40px;
    border-radius: 20px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    transition: $transition;
    background: $violet;

    &:hover {
        background: #4D2F51;
    }
}

.article {
    padding-top: 114px;
    
}

.intro {
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 40px;
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__sub {
        width: 440px;
        margin-bottom: 36px;
    }

    &__pic {
        flex: 0 0 390px;
        position: relative; 
    }

    &__pic-img {
        width: 368px;
        height: 520px;
        border-radius: 300px;
        position: relative;
        z-index: 10;
        object-fit: cover;
    }

    &__pic-bg {
        position: absolute;
        display: block;
        bottom: -27px;
        left: -27px;
        max-width: 416px;
    }
}

.title {
    font-family: $fontt;
    font-weight: 400;
    font-size: 98px;
    line-height: 104px;
    margin-bottom: 14px;
    &_h2 {
        font-size: 46px;
        line-height: 52px;
        margin-bottom: 68px;
        width: 537px;
    }

    &_h3 {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        font-family: $font;
    }

    &_book {}
}

.btn {}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 184px;
    .title_h2{
        margin-bottom: 22px;
    }
    &__pic {
        flex: 0 0 396px;
        position: relative;
    }

    &__pic-img {
        width: 396px;
        height: 396px;
        border-radius: 50%;
        z-index: 10;
        position: relative;
        object-fit: cover;
    }

    &__pic-bg {
        position: absolute;
        display: block;
        top: -58px;
        right: -7px;
        max-width: 396px;
    }

    &__desc {}

    &__sub {
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.advantage {
    &__list{
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }
    &__item {
        flex: 0 0 calc(25% - 36px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    &__pic {}

    &__desc {
        text-align: center;
        color: #fff;
        b{
            font-weight: 600;
        }
    }
}

.wide {
    width: 1440px;
    margin: 0 auto;
    color: #fff;
    
    &__container {
        padding: 76px 130px;
        background: $violet;
        border-radius: 60px;
    }
}

.why {
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }
    &__desc {
        display: flex;
        flex-wrap: wrap;
        gap: 26px 64px;
    }

    &__item {
        width: calc(50% - 32px);
    }

    &__item-num {
        font-family: $fontt;
        font-size: 98px;
        line-height: 98px;
        color: $violet;
    }

    &__item-text {
        font-size: 18px;
        line-height: 22px;
    }

    &__pic {
        flex: 0 0 405px;
        position: relative;
    }

    &__pic-img {
        position: relative;
        z-index: 10;
    }
    &__pic-min {
        display: none;
    }
    &__pic-bg {
        position: absolute;
        &_1 {
            top: 120px;
            right: 124px;
        }

        &_2 {
            bottom: 83px;
            right: 13px;
        }
    }
}

.claim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    .title_h2{
        margin-bottom: 5px;
    }
    &__pic {
        flex: 0 0 300px;
        width: 300px;
        height: 424px;
        object-fit: cover;
        border: 1px solid #7D5182;
        border-radius: 300px;
    }

    &__desc {
        width: 380px;
        margin: 0 192px 0 0;
        position: relative;
        flex-direction: column;
        text-align: center;
        .title_h2{
            width: 100%;
        }
        &::before, &::after{
            display: block;
            content: '';
            position: absolute;
            width: 786px;
            height: 388px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $transition;
        }
        &::before{
            background: url(../img/ellipse_1.png) no-repeat center center / contain;
        }
        &::after{
            background: url(../img/ellipse_2.png) no-repeat center center / contain;
        }
        &:hover{
            &::before{
                transform: translate(-50%, -50%) rotate(10deg);
            }
            &::after{
                transform: translate(-50%, -50%) rotate(-10deg);
            }
        }
    }
    &__sub {
        font-size: 18px;
        line-height: 22px;
    }
    .btn{
        position: relative;
        z-index: 10;
    }
}

.service {

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 35px;
    }

    &__item {
        width: calc(20% - 28px);
        border: 1px solid #7D5182;
        border-radius: 300px;
        padding: 20px 30px 50px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        display: flex; 
        gap: 30px;
        position: relative;
        z-index: 10;
        &:nth-child(1) {
            .service__pic-bg{
                top: -30px;
                right: -10px;
            }
        }
        &:nth-child(2) {
            .service__pic-bg{
                left: 30px;
                top: 350px;
                transform: translateX(-30.275px) translateY(-319.74px);
            }
        }
        &:nth-child(3) {
            .service__pic-bg{
                top: 200px;
                left: -20px;
                transform: translateX(-0.795px) translateY(-106.62px);
            }
        }
        &:nth-child(4) {
            .service__pic-bg{
                left: -20px;
            }
        }
        &:nth-child(5) {
            .service__pic-bg{
                bottom: 370px;
                left: 0;
                transform: translateX(25.45px) translateY(408.06px);
            }
        }
    }

    &__pic {
        width: 126px;
        height: 194px;
        align-items: center;
        justify-content: center;
        display: flex; 
        position: relative;
        
    }
    &__pic-img{
        position: relative;
        z-index: 10;
    }
    &__pic-bg {
        position: absolute;
        z-index: -1;
    }

    &__name {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        position: relative;
        z-index: 10;
    }
}

.practice {

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 70px;
        
    }

    &__item {
        width: calc(50% - 35px);
        padding-left: 50px;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 29px;
            height: 29px;
            background: url(../img/icon_li.svg) no-repeat center center / contain;
            top: 0px;
            left: 5px;
        }
    }
}

.review {
    &__item{
        margin: 0 13px;
        border: 1px solid #7D5182;
        border-radius: 150px;
        height: auto;
        padding: 80px 20px;
        text-align: center;
    }
    &__name {
        font-size: 30px;
        line-height: 42px;
        font-family: $fontt;
        color: $violet;
        margin-bottom: 10px;
        height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__text {
        font-size: 18px;
        line-height: 22px;
    }
    
}

.slider {
    padding: 0 20px;
    &_review{
        margin-bottom: 48px;
        .slick-track{
            display: flex;
        }
    }
}
.slick-prev, .slick-next{
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 14px;
        height: 25px;
        transition: $transition;
        fill: $violet;
    }
    
    &:before, &:after{
        display: none;
    }
    &:hover{
        svg{
            fill: $black;
        }
    }
}
.slick-next{
    right: -9px;
    svg{
        transform: rotate(180deg);
    }
    &:hover{
        svg{
            transform: rotate(180deg) translateX(-5px);
        }
    }
}
.slick-prev{
    left: -9px;
    &:hover{
        svg{
            transform: translateX(-5px);
        }
    }
}
.move{
    transition: $transition005;
}
.client {
    &__item{
        margin: 0 30px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__pic {
        width: 314px;
        height: 314px;
        border-radius: 50%;
        border: 1px solid #fff;
        object-fit: cover;
    }
    .slick-prev, .slick-next{
        svg{
            fill: #fff;
        }
    }
}

.studio {
    .title_h2{
        margin-bottom: 20px;
    }
    .title_h3{
        margin-bottom: 68px;
    }
    &__item {
        margin: 0 30px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    &__pic {
        width: 314px;
        height: 403px;
        border: 1px solid #7D5182;
        border-radius: 160px;
        object-fit: cover;
    }
}

.book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__desc {
        position: relative;
        width: 330px;
        margin-left: 210px;
        .title_book{
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 20px;
            width: 100%;
        }
        &:before{
            display: block;
            content: "";
            position: absolute;
            width: 780px;
            height: 340px;
            top: 73px;
            left: 124px;
            transform: translate(-50%, -50%);
            background: url(../img/ellipse_book.png) no-repeat center center/contain;
        }
    }

    &__pic {
        flex: 0 0 246px;
        position: relative;
    }

    &__pic-img {
        position: relative;
        z-index: 10;
    }

    &__pic-bg {
        position: absolute;
        display: block;
        bottom: 200px;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    overflow: hidden;
    &.wide{
        padding: 0;
        margin: 114px auto 122px;
    }
    &__map {
        width: 630px;
        min-width: 630px;
        
    }

    &__desc {
        flex: 1 0 auto;
        background: $violet;
        color: #fff;
        padding: 76px 100px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        .title_h2{
            margin-bottom: 30px;
        }
    }

    &__tel, &__mail {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        margin-bottom: 8px;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -2px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__mail {
        margin-bottom: 26px;
    }

    &__address {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 42px;
    }

    &__soclist {
        display: flex;
        gap: 12px;
    }

    &__soc {
        display: flex;  
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        &:hover{
            .contact__socpic {
                transform: scale(1.1);
                fill: #AECBE6;
            }
        }
    }

    &__socpic {
        fill: #fff;
        transition: $transition;
        height: 100%;
    }
}






















@import '_query';